* {
  margin: 0;
  padding: 0;
}

body {
  color: #444;
  font-family: sans-serif;
  line-height: 1.4;
}

.container {
  width: 800px;
  // margin-left: auto;
  // margin-right: auto;
  margin: 50px auto;
  position: relative;
}

.container::before {
  content: 'SALE';
  background-color: #cb1e0b;
  color: #fff;
  letter-spacing: 2px;
  font-size: 16px;
  // font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  left: -25px;
}

article {
  border: black solid;
  width: 825px;
}

.img {
  width: 30%;
  height: auto;
}

strong {
  font-weight: bold;
  font-size: larger;
  color: black;
}

h1 {
  color: black;
  text-transform: uppercase;
  background-color: rgba(128, 128, 128, 0.187);
  text-align: center;
  margin-top: 0;
  padding: 10px 0;
}

h3 {
  margin-bottom: 15px;
  margin-top: 10px;
}

p {
  margin-bottom: 15px;
}

.free-shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(68, 68, 68, 0.81);
  margin-bottom: 15px;
}

ul {
  margin-bottom: 20px;
  margin-left: 25px;
}

li {
  list-style: square;
  margin-bottom: 10px;
}

button {
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 50;
  border: none;
  width: 100%;
  // height: 100px;
  padding: 15px;
}

button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  border-top: 4px solid black;
}

#details {
  text-transform: uppercase;
  font-size: 16px;
  position: relative;
}

#details::before {
}

a {
  margin-bottom: 15px;
}

a:link,
a:visited {
  color: black;
  margin-bottom: 15px;
}

a:hover,
a:active {
  text-decoration: none;
}

.boxes {
  width: 22px;
  height: 22px;
  margin: 5px;
  display: inline-block;
  margin-top: 20px;
}
.black {
  background-color: black;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.green {
  background-color: green;
}

.brown {
  background-color: rgba(75, 29, 29, 0.605);
}
